<a href="/posts/{{post._id}}">{{post.title}}</a>
{{post.summary}}
<a href="{{post.url}}" target="_blank">{{post.url}}</a>
<form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
{{#each post.comments}}
  {{> comment comment=this postId=post._id}}
{{/each}}